html {
    font-family: 'Merriweather', serif;
    font-weight: 700;
}
body {
    display: flex;
}
.box {
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.firstrow {
    width: 100vw;
    flex-wrap: wrap;
}
.secondrow,
.firstrow {
    flex-direction: row !important;
}
#intro {
    background-color: #C5E3F4;
    color: #82AEC7;
}
#intro p {
    padding-top: 30px;
}
#intro h1 {
    padding-top: 15px;
}
#work {
    background-color: #EEE7CF;
    color: #D7C072;
}
#contact {
    background-color: #FFBCBC;
    color: #CD7878;
}
#contact li,
#work li {
    padding-top: 2em;
}
#skills {
    background-color: #D0EECF;
    color: #A5D0A3;
}
#skills .twocolumn {
    padding-top: 5em;
}
#skills ul {
    width: 50%;
}
#skills li {
    padding: 0.25em;
}
#skills ul:first-of-type {
    text-align: right;
    padding-right: 20px;
}
#skills ul:nth-of-type(2) {
    padding-left: 20px;
}
h1 {
    position: absolute;
    top: 0;
    margin-top: 30px;
    font-size: 30pt;
}
#intro h1 {
 position: static;
 margin-top: 1px;
}
h2 {
    font-size: 29pt;
}
p {
    font-size: 20pt;
}
a {
    text-decoration: none;
}
body {
    display: flex;
    overflow: hidden;
}
li a,
li {
    font-size: 25pt;
}
#work li a {
    color: #D7C072;
}
#contact li a {
    color: #CD7878;
}
.twocolumn {
    display: flex;
}
.twocolumn ul:first-of-type {
    border-right: 3px solid #A5D0A3;
}
#work li:before {
    content: '\2B50';
    margin-right: 10px;
}
.fab, .fas {
    margin-right: 25px;
    font-size: 30pt;
}
#contact a {
    background: linear-gradient(90deg, rgba(255,155,155,1) 0%, rgba(255,155,155,1) 100%);

    background-size: 0%;
    background-repeat: no-repeat;
    display: inline;
    transition: 0.5s ease;
  }
  
  #contact a:hover {
    background-size: 100%;
}

#work a {
    background: linear-gradient(90deg, rgba(255,221,104,1) 0%, rgba(255,221,104,1) 100%);

    background-size: 0%;
    background-repeat: no-repeat;
    display: inline;
    transition: 0.5s ease;
  }
  
  #work a:hover {
    background-size: 100%;
}